In [6]:
import pandas as pd

from io import StringIO


csv_data='''A,B,C,D
...1,2,3,4
...5,6,8
...0.0,11,12,'''

In [7]:
df=pd.read_csv(StringIO(csv_data))

In [16]:
df

        A   B   C    D
0    ...1   2   3  4.0
1    ...5   6   8  NaN
2  ...0.0  11  12  NaN

In [17]:
#Mean imputation 

from sklearn.preprocessing import Imputer

imr=Imputer(missing_values='NaN',strategy='mean',axis=0)
imr=imr.fit(df)
imputed_data=imr.transform(df.values)
imputed_data

ValueError: could not convert string to float: '...1'

In [1]:
#Handling Categorical Data

import pandas as pd

df=pd.DataFrame([
    ['green','M',10.1,'class1'],
    ['red','L',13.5,'class2'],
    ['blue','XL',15.3,'class1']])

df.columns=['color','size','price','classlabel']

df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1